* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(30, 30, 30);
}

.desktop {
    background-image: url('./img/bg.png');
    background-size: cover;
    background-position-y: center;
    width: 100vw;
    height: calc(100vh - 40px);
}